[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
config = "0.14"
serde = { version = "1", features = ["derive"] }
sqlx = { version = "0.7", features = ["runtime-tokio", "postgres", "macros"] }
